.words{
    display: none;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
}
p{
    font-size: 20px;
    color: #fff;
    width: 192px;
}
span{
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 390px){
    p{
        font-size: 16px;
    }
}